.prabhak_parent {
  width: calc(100% - 300px);
  margin-left: 300px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  .prabhak_cont {
    display: flex;
    flex-direction: column;
    gap: calc(var(--unit) * 3);
    width: 100%;

    .add-prabhak {
      display: flex;
      gap: var(--unit);
      align-items: center;

      input {
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.116);
        padding: 6px 12px;
            outline: none;
      }

      .btn22 {
        width: auto;
        background-color: var(--accent);
        padding: 8px 16px;
        color: var(--white);
        border-radius: 6px;
        border: 1px solid var(--accent);
        transition: var(--trans-q);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 20px;
        font-weight: 400;
        height: 40px;
    

        &:hover {
          border: 1px solid var(--white);
          color: var(--white);
        }
      }
    }

    .table {
      width: 100%;
    }
  }
}
