.top_section {
  width: calc(100% - 300px);
  margin-left: 300px;
  padding: 20px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  .btn_list {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}


.tab_parent {
  padding: 50px 0px;
  width: calc(100% - 300px);
  margin-left: 300px;

  .tab_cont {
    display: flex;
    align-items: center;
    justify-content: center;

    .tabs {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--unit);

      .tab1 {
        background: var(--accent);
        border-radius: calc(var(--unit) / 2);
        padding: 15px 20px;
        color: var(--white);
        cursor: pointer;
      }
    }
  }
}


.info_parent{
 width: calc(100% - 300px);
  margin-left: 300px;
  .info_cont{


 .data {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: var(--unit);

      .card {
        width: 250px;
        height: auto;
        background-color: white;
        border: 1px solid black;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: flex-start;
        gap: 5px;

        .urc_number {
          width: 100%;
          padding: 5px 0px;
          border-bottom: 1px solid gray;
        }
        .age {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}


.add_voter_parent {
  width: calc(100% - 300px);
  margin-left: 300px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

  .add_voter_cont {
    form {
      width: 600px;
      border: 1px solid;
      padding: 20px;
      border: 1px solid rgba(0, 0, 0, 0.192);
      border-radius: calc(var(--unit) / 2);
      display: flex;
      gap: var(--unit);
      align-items: center;
      flex-direction: column;

      input, select {
        border-radius: calc(var(--unit) / 2);
        padding: var(--unit);
        border: 1px solid rgba(0, 0, 0, 0.192);
        width: 100%;
        outline: none;
      }

      .form-group {
        width: 100%;
        gap: var(--unit);
        display: flex;
        flex-direction: column;

        .form-row {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }
    }
  }
}


