.top_section {
  width: calc(100% - 300px);
  margin-left: 300px;
  padding: 20px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  .btn_list {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.add_voter_parent {
  width: calc(100% - 300px);
  margin-left: 300px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

  .add_voter_cont {
    form {
      width: 600px;
      border: 1px solid;
      padding: 20px;
      border: 1px solid rgba(0, 0, 0, 0.192);
      border-radius: calc(var(--unit) / 2);
      display: flex;
      gap: var(--unit);
      align-items: center;
      flex-direction: column;

      input, select {
        border-radius: calc(var(--unit) / 2);
        padding: var(--unit);
        border: 1px solid rgba(0, 0, 0, 0.192);
        width: 100%;
        outline: none;
      }

      .form-group {
        width: 100%;
        gap: var(--unit);
        display: flex;
        flex-direction: column;

        .form-row {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }
    }
  }
}

.voter_list_parent {
  width: calc(100% - 300px);
  margin-left: 300px;
  padding: 20px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  .cont-table {
    width: 100%;
    .table {
      width: 100%;
      background-color: var(--white);
      box-shadow: var(--shadow);
    }
  }
}
